<%= form_with(model: recipe, local: true) do |form| %>
  <% if recipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

      <ul>
      <% recipe.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <br>
  
  <div class="form-group">
    <h4>Wrtie the title of your recipe here:</h4>
    <%= form.text_field :title, class: "form-control input-lg", placeholder: "F.eks Pizza" %>
  </div>

<br>

  <div class="form-group">
    <h4>Write the recipe here:</h4>
    <%= form.text_area :body, class: "form-control input-lg", placeholder: "F.eks. Do this, then do this." %>
  </div>

<br>

  <div class="form-group">
    <h4>Write the ingredients you need for the recipe here:</h4>
    <%= form.text_field :ingredients, class: "form-control input-lg", placeholder: "F.eks. Dough, Sause, Cheese" %>
  </div>

<br>

  <div class="form-group">
    <h4>Chose a category for the recipe here:</h4>
    <%= form.text_field :category, class: "form-control input-lg", placeholder: "F.eks. Italian" %>
  </div>

<br>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
