<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @recipe.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @recipe.body %>
</p>

<p>
  <strong>Ingredients:</strong>
  <%= @recipe.ingredients %>
</p>

<p>
  <strong>Category:</strong>
  <%= @recipe.category %>
</p>

<p>
  <strong>User:</strong>
  <%= @recipe.user.email %>
</p>

<%= link_to 'Post a Comment', new_recipe_comment_path(@recipe) %>
  <% @comments.each do |comment| %>
    <h4><%= comment.body %> posted by <%= comment.user.email %></h4>
  <% end %>
