<center>
  
<p id="notice"><%= notice %></p>


<div class="jumbotron" style="max-width: 800px">
     <h2><%= @recipe.title %></h2>
     <p><%= @recipe.category %></p>
     <p><%= @recipe.body %></p>
     <p><%= @recipe.ingredients %></p>
     <h5>Posted by <%= @recipe.user.email %></h5>
     <div class="change_recipe">
       <%= link_to 'Show', @recipe, class: "btn btn-primary btn-sm" %>
       <%= link_to 'Edit', edit_recipe_path(@recipe), class: "btn btn-primary btn-sm" %>
       <%= link_to 'Destroy', @recipe, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-primary btn-sm" %>
       <%= link_to 'Post a Comment', new_recipe_comment_path(@recipe), class: "btn btn-primary btn-sm" %>
       
       <br><br>
       
       <h4>Comments to this recipe:</h4>
       <% @comments.each do |comment| %>
       <h5><%= comment.body %> posted by <%= comment.user.email %></h5>
  <% end %>
     </div>

</center>
     
     